# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
*.vcxproj.*
*.recipe
*.log
*.tlog
*.idb
*.pdb
*.sln
*.vcxproj
*.ilk
*.iobj
*.ipdb

# Misc
.vscode/
notes/
*.ini

# Exclude
!premake5.exe
Lake/vendor/fmod/include/fmod.h
Lake/vendor/fmod/include/fmod.hpp
Lake/vendor/fmod/include/fmod_codec.h
Lake/vendor/fmod/include/fmod_common.h
Lake/vendor/fmod/include/fmod_dsp.h
Lake/vendor/fmod/include/fmod_dsp_effects.h
Lake/vendor/fmod/include/fmod_errors.h
Lake/vendor/fmod/include/fmod_output.h
